beautifulsoup4==4.3.2
coverage==3.7.1
Django==1.7.6
django-allauth==0.19.1
django-appconf==1.0.1
django-endless-pagination==2.0
django-envelope==1.0
django-generic-positions==0.1.7
django-hvad==1.1.1
django-libs==1.66.1
django-model-utils==2.2
django-notifications-hq==0.6.2
django-review==1.9.2
django-user-media==1.1.6
easy-thumbnails==2.2
factory-boy==2.4.1
oauthlib==0.7.2
Pillow==2.7.0
pinax-ratings==0.3.3
python-openid==2.2.5
requests==2.6.0
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.9.0
South==1.0.2
