{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} About us {% endblock %}
{% block body_block %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1407433476232650&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
     <!-- Page Content -->

<!-- Introduction Row -->


<h2 class="title text-center">About Us</h2>
    <h3>Vision</h3>
    <p class="abouttext">We intend to make it possible for anyone in Trinidad and Tobago to buy and sell goods quickly, easily and reliably.</p>
    <h3>Our Philosophy</h3>
        <p class="abouttext">Your time is too valuable to be spent posting on 30 different facebook groups
        and bumping your posts every hour.
        </p>
        <p class="abouttext">Customers deserve a user interface geared towards shopping.</p>
                    <h3>That sounds awesome</h3>
                    <p>Thanks. Support the vision and show us some love with that like button</p><div class="fb-page" data-href="https://www.facebook.com/facebook" data-height="130" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
</div>
</div>
<!-- Team Members Row -->

</div>
        </section>
<!-- /.container -->
{% endblock %}