{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} About us {% endblock %}
{% block body_block %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
     <!-- Page Content -->

<!-- Introduction Row -->


<h2 class="title text-center">Careers</h2>
    <h3>Open positions</h3>
    <p class="abouttext">There are no open positions at the moment.</p>
</div>
</div>
<!-- Team Members Row -->

</div>
        </section>
<!-- /.container -->
{% endblock %}