{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} About us {% endblock %}
{% block body_block %}

    	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
     <!-- Page Content -->

<!-- Introduction Row -->

<h2 class="title text-center">Help/FAQs
</h2>

	<article>
        	    <h4 id="manicou">How did my post from XYZ end up on this site?</h4>
	   <p>We have a program that crawls Trini facebook groups and classifieds and collects data on all the items being sold (kinda like Google). That data is then sorted and posted here so people can find every Trini product being sold regardless of where/when it was posted. This gives more power of choice to buyers and more visibility to sellers.</p>
        <p>Our crawler is nowhere near perfect however, and will miss many valuable posts. You are encouraged to <a href="{% url 'account_login' %}">create an account</a> and post/claim ownership of your items so you can better manage your orders,listings and build a reputation.
        <p><small>If for any reason you want your listings to be removed and ignored by the crawler in the future, contact us <a href="{% url 'envelope-contact' %}">here</a> and we will take them down permanently.</small></p>


	    <h4 id="cost">How much does it cost to post my item?</h4>
		<p>It costs nothing to post your items. However, you will be restricted to a maximum of 10 active products at a time. This should be more than enough for casual sellers. Those who wish to sell  a larger quantity of goods will be able to upgrade their accounts for a variety of features, including the ability to have more active items at a time.</p>
        <h4 id="purchases">How does buying work?</h4>
        <p>After you checkout and confirm your order, it will be sent to the seller and they will take care of it from there. You will also receive contact information for the seller, though they will likely get in contact with you to finalize delivery details. We do not currently process online payments, so you will have to pay on delivery.</p>
        <h4 id="bidding">How does bidding/making offers work?</h4>
        <p>When an item has a negotiable price, buyers will be allowed to either purchase the item at the asking price or make their own offer. If your offer is accepted, you will receive a notification and be able to checkout on the item.</p>
        <h4 id="selling">How does selling work?</h4>
	   <p>You will first have to <a href="{% url 'shop:create_sellerprofile' %}">create a Seller Profile</a>. This is a quick and easy process just to gather basic information that buyers will be interested in, such as your delivery and payment methods.
       Once your Seller Profile is created, you can post items.
       When someone makes an order on your item, you will receive a notification and be able to access the order to get important details such as the buyer's delivery and contact information.
       After the product is delivered, you should invite your buyer to leave a review on your seller profile page, which will let future customers know that they can trust you.
       You will always be able to view current orders on your products as well as other valuable information on your <a href="{% url 'shop:dashboard' %}">Seller's Dashboard</a>. For more information, see your <a href="{% url 'shop:sellerguide' %}">seller's guide.</a></p>

        <h4 id="delivery">Will you deliver the product for me? / Do you process online payments?</h4>
        <p>At this point in time we are unable to deliver your products and process online payments, but we hope to do so soon. For a full list of features you can look forward to, <a href="{%  url 'comingsoon' %}">click here</a> </p> <br>

	</article>

</div>
</div>

</div>
            </section>
    <script type="text/javascript">var ToC =
  "<nav role='navigation' class='table-of-contents'>" +
    "<h4>Contents:</h4>" +
    "<ul>";

var newLine, el, title, link;

$("article h4").each(function() {

  el = $(this);
  title = el.text();
  link = "#" + el.attr("id");

  newLine =
    "<li>" +
      "<a href='" + link + "'>" +
        title +
      "</a>" +
    "</li>";

  ToC += newLine;

});

ToC +=
   "</ul>" +
  "</nav>";

$("article").prepend(ToC);</script>

<!-- /.container -->
{% endblock %}