<!DOCTYPE html>
{%  load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Project Manicou</title>
</head>
<body>
	<p>Title: {{ item.title }}</p>
	<p>Owner: {{ item.owner }}</p>
	<p>Condition: {{ item.condition }}</p>
	<p>Asking Price: {{ item.asking_price }}</p>
    <p>Current Highest Offer: {{ item.current_highest_bid }}</p>
    <form id="bid_form" method="post" action="{% url 'shop:makebid' item.slug %}">

        {% csrf_token %}
       <p>Price</p> <input type="number" min="{{ item.current_highest_bid }}" max="{{ item.asking_price }}" id="id_offer_price" name="offer_price" placeholder="100">
        <input type="submit" name="submit" value="Make an Offer" />
    </form>
</body>
</html>