<!DOCTYPE html>
{%  load staticfiles %}
{% load pinax_ratings_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Project Manicou</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
{% overall_rating sellerprofile as the_overall_rating %}

<div class="overall_rating">{{ the_overall_rating }}</div>
	<p>Public Seller Profile</p>
	<p>username: {{ sellerprofile.user.username }}</p>
<div id="user_rating"></div>

{% user_rating_js request.user sellerprofile %}
</body>
</html>