{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} {{ category.name }}{% endblock %}
{% block body_block %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">{{ category.name }}</h2>
                    	{% if items %}
                            <div class="endless_page_template">
                            {% include page_template %}
                            </div>
						<!--	{%  for item in items %}
					             <a href="{% url 'shop:item' item.slug %}">
	                                 <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'shop/images/home/product1.jpg' %}" alt="" />

                                                    <h2>{{ item.title|truncatewords:'6' }}</h2>
													<p>${{ item.asking_price }}.00</p>
												</div>

											</div>
										</div>
                                     </div>
                                 </a>
						    {%  endfor %} -->
					    {%  else  %}
					        <strong> No items? What kinda ting is that? go <a href="{% url 'shop:add_new_item' %}">post something now eh</a> </strong>
					    {% endif %}


					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate({
    	paginateOnScroll: true,
        paginateOnScrollChunkSize: 3,
        paginateOnScrollMargin: 10,
    	});
    	</script>
{% endblock %}
{% endblock %}