{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} Checkout on {{ item.title }} {% endblock %}
{% block category_block %}
{% endblock %}
{% block body_block %}
    <div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">Checkout</h2>
				</div>
         	<div class="col-sm-offset-2 ">
        <form class="form-horizontal" id="checkout_form" method="post" action=".">
            {% csrf_token %}
            {% if item.owner.meetup and item.owner.home_delivery != 'NONE' %}
			<div class="form-group">
                {{ form.meetuploc.errors }}
                <label for="id_meetuploc" class="control-label col-xs-3">Suggested Meetup Location</label>
                <div class="col-xs-9">
	                <input id="id_meetuploc" maxlength="60" name="meetuploc" type="text" placeholder="Gulf City Mall" />
                </div>
            </div>
            <h3>Enter a meetup location OR a home delivery address</h3>
            <div class="form-group">
                {{ form.street.errors }}
                <label for="id_street" class="control-label col-xs-3">Address</label>
                <div class="col-xs-9">
	                <input id="id_street" maxlength="60" name="street" type="text" />
                </div>
            </div>
            <div class="form-group">
                {{ form.city.errors }}
                <label for="id_city" class="control-label col-xs-3">City</label>
                <div class="col-xs-9">
	                <input id="id_city" maxlength="60" name="city" type="text" />
                </div>
            </div>
            {% elif item.owner.meetup and item.owner.home_delivery == 'NONE' %}
            <div class="form-group">
                {{ form.meetuploc.errors }}
                <label for="id_meetuploc" class="control-label col-xs-3">Suggested Meetup Location</label>
                <div class="col-xs-9">
	                <input id="id_meetuploc" maxlength="60" name="meetuploc" type="text" placeholder="Gulf City Mall" />
                </div>
            </div>
            {% elif not item.owner.meetup %}
            <div class="form-group">
                {{ form.street.errors }}
                <label for="id_street" class="control-label col-xs-3">Address</label>
                <div class="col-xs-9">
	                <input id="id_street" maxlength="60" name="street" type="text" />
                </div>
            </div>
            <div class="form-group">
                {{ form.city.errors }}
                <label for="id_city" class="control-label col-xs-3">City</label>
                <div class="col-xs-9">
	                <input id="id_city" maxlength="60" name="city" type="text" />
                </div>
            </div>
            {% endif %}

            <div class="form-group">
                {{ form.phone.errors }}
                <label for="id_phone" class="control-label col-xs-3">Phone Number</label>
                <div class="col-xs-9">
	                <input id="id_phone" maxlength="9" name="phone" type="number" />
                </div>
            </div>
            <div class="form-group">
                {{ form.payment_type.errors }}
                <label for="id_paymentmethod" class="control-label col-xs-3">Payment Method</label>
                <div class="col-xs-3">
                    <select id="id_paymentmethod" name="paymentmethod">
                        {% for type in payment %}
						<option value="{{ type.id }}">{{ type.description }}</option>
                        {% endfor %}
					</select>
                </div>
            </div>
            <div class="form-group">
                    {{ form.additionalinfo.errors }}
				<label for="id_additionalinfo" class="control-label col-xs-3">Additional info (Optional) </label>
                 <div class="col-xs-5">
                <textarea cols="20" id="id_additionalinfo" name="additionalinfo" rows="5" placeholder="I'm only available to meetup on Saturdays"></textarea>
                 </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 col-sm-offset-4">
                    <br>
		            <button type="submit" name="submit" value="Checkout" class="btn btn-default">
		                    Continue
		            </button>
                </div>
            </div>
        </form>
		</div>
    </div>
{% endblock %}