{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} Checkout on {{ item.title }} {% endblock %}
{% block category_block %}
{% endblock %}
{% block body_block %}
    <div class="col-sm-12">
					<h2 class="title text-center">Order Confirmation</h2>
				</div>
<section id="cart_items">
	<div class="container">
			    <div class="review-payment">
		            <h2>Review your order</h2>
		        </div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Description</td>
							<td class="total">Price</td>
							<td></td>
                            <td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img class="padme" width="150px" src="{{ MEDIA_URL }}{{ item.image }}" alt="" /></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ item.title }}</a></h4>
								{% if item.dummyseller %}
                                <p>Sold by: {{ item.dummyseller }} </p>
                            {% else %}
								<p>Sold by: <a href="{% url 'shop:sellerprofile' item.owner.id %}">{% if item.owner.seller_name %}{{ item.owner.seller_name }}{% else %}{{ item.owner.user.first_name }} {{ item.owner.user.last_name }}{% endif %}</a> </p>
                            {% endif %}
							</td>
							<td class="cart_total">
                                {% if item.accepted_bid %}
								<p class="cart_total_price">${{ item.accepted_bid.offer_price }}.00</p>
                                {% else %}
                                <p class="cart_total_price">${{ item.asking_price }}.00</p>
                                {% endif %}
							</td>
						</tr>
							<tr>
								<td colspan="4">&nbsp;</td>
								<td colspan="2">
									<table class="table table-condensed total-result">
										{% if order.meetuploc %}
                                        <tr>
											<td>Suggested Meetup Location</td>
											<td>{{ order.meetuploc }}</td>
										</tr>
                                        {% endif %}
                                        {% if order.street and order.city %}
										<tr>
											<td>Delivery Address</td>
											<td>{{ order.street }},{{ order.city }}</td>
										</tr>
                                        {% endif %}
										<tr class="shipping-cost">
											<td>Phone Number</td>
											<td>{{ order.phone }}</td>
										</tr>
										<tr>
											<td>Total</td>
                                            {% if item.accepted_bid %}
											<td><span>${{ item.accepted_bid.offer_price }}.00</span></td>
                                            {% else %}
                                            <td><span>${{ item.asking_price }}.00</span></td>
                                            {% endif %}
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
        </div>
    </section>
    <div class="row">
         	<div class="col-sm-offset-2 ">
        <form class="form-horizontal" id="confirmation_form" method="post" action=".">
            {% csrf_token %}
			<div class="form-group">
                {{ form.agreetoterms.errors }}
                <label for="id_agreetoterms" class="control-label col-xs-4">Confirm order and Agree to our terms of service and solemnly swear all info is valid :) :</label>
                <div class="col-xs-8">
	                <input id="id_agreetoterms" name="agreetoterms" type="checkbox" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6 col-sm-offset-4">
                    <br>
		            <button type="submit" name="submit" value="Confirm" class="btn btn-default">
		                    Confirm and Place Order
		            </button>
                </div>
            </div>
        </form>
		</div>
    </div>
{% endblock %}