{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} Your Dashboard {% endblock %}
{% block category_block %}
{% endblock %}
{% block body_block %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title text-center">Seller Dashboard:
                {% if sellerprofile.seller_name %}
	            {{ sellerprofile.seller_name }}
	            {% else %}
	            {{ sellerprofile.user.first_name }} {{ sellerprofile.user.last_name }}
	            {% endif %}
            </h2>
        </div>
        <div class="col-sm-offset-5">
        <ul>
            <li><a href="{% url 'shop:dashboard_current_items' %}"><button class="btn btn-success"> Current items on sale ({{ current_items_count }})</button></a></li>
            <li><p>&nbsp;</p></li>
            <li><a href="{% url 'shop:dashboard_past_items' %}"><button class="btn btn-info">Past items sold ({{ past_items_count }})</button></a></li>
            <li><p>&nbsp;</p></li>
            <li><a href="{% url 'shop:dashboard_current_orders' %}"><button class="btn btn-success">Current orders ({{ current_orders_count }})</button></a></li>
            <li><p>&nbsp;</p></li>
            <li><a href="{% url 'shop:dashboard_past_orders' %}"><button class="btn btn-info">Completed orders ({{ past_orders_count }})</button></a></li>
        </ul>
		</div>
    </div>

{% endblock %}