{% extends 'shop/base.html' %}
{%  load staticfiles %}
{% block title %} Your past orders {% endblock %}
{% block category_block %}
{% endblock %}
{% block body_block %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title text-center">Completed orders on your items</h2>
        </div>
        <div class="col-sm-offset-5">
            {% if past_orders %}
        <ul>
            {% for order in past_orders %}
            <li><a href="{% url 'shop:order' order.id %}">Order on your item: {{ order.buy_item }}</a></li>
            {% endfor %}
        </ul>
            {% else %}
                <strong>You have not completed any orders yet.</strong>
            {% endif %}
		</div>
    </div>
    	    <div class="row">
 <br><br><br><br><br><br> <br><br>
</div>
{% endblock %}