{% load endless %}
{% load staticfiles %}
{% load shop_extras %}
{% paginate 6 filter %}
{% for item in filter %}
    {% if forloop.counter|divisibleby:3 %}
                                <div class="row">
                                {% endif %}
<a href="{% url 'shop:item' item.slug %}">
     <div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img class="padme" src="{{ MEDIA_URL }}{{ item.image }}" alt="" />
                    {% get_item_condition item.slug as condition %}
                    <h2>({{ condition }}) {{ item.title|truncatewords:'6' }}</h2>
					<p>${{ item.asking_price }}.00</p>
				</div>

			</div>
		</div>
     </div>
 </a>
    {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
{% endfor %}
{% show_more "See more items" %}
<br>

          
          
